@import url(variables.css);

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-1)
}

.aqua{
    display: flex;
    position: relative;
    width: 13%;
    background-color: var(--color-2);
    border-radius: 60px;
    align-items: center;
    height: 50px;
    justify-content: center;
    margin-left: -2%; 
}
.aqua img{
    display: flex;
    height: 30px;
}

.aqua h1{
    /* margin-left: 40%; */
    font-size: 28px;
    font-family: "robot-regular";
    font-weight: 100;
}

.menu{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 70px;
    width: 60%;
    left: 22%;
    top: -40px;
    /* background-color:teal ; */
}

.menu p{
    color: var(--color-2);
    font-family: "robot-bold";
    font-size: 17px
}

.linea{
    position: absolute;
    top: 50px;
    height: 2.9%;
}

.linea2{
    position: absolute;
    top: 50px;
}

.limg{
    display: flex;
    flex-direction: row;
    position: relative;
    /* background-color: blue; */
    width: 7%;
    gap: 20px;
    left: 1100px;
    bottom: 55px;

}

.limg img{
    height: 20px;
    
}

.Crae{
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 58%;
    /* background-color: chocolate; */
    align-items: center;

}

.gt{
    align-self: last baseline;
    top: 1000px;
    height: 80%;
}
.Crae2{
    display: flex;
    position: relative;
    top: 40px;
    flex-direction: row;
    gap: -10%;
    /* background-color: rgb(63, 55, 49); */
}

.carts{
    display: flex;
    flex-direction: column;
    /* gap: -110%; */
    position: relative;
    align-items: center;
    justify-items: center;
    left: 58%;
    bottom: 400px;
    /* background-color: aqua; */
    width: 39%;
}

.carts button{
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
    left: 20px;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 65px;
    border-radius: 50px;
}

.carts button p{
    font-family: "robot-bold";
    font-size: 35px;
    font-weight: 900;
}

.carts img{
    height: 90%
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 4%;
    /* background-color: aqua; */
    bottom: 600px;
    left: 1220px;

}

.redes img{
    height: 100%;
    width: 100%;
}

.subtitle{
    position: relative;
    bottom: 700px;
    width: 57%;
    /* background-color:darkgreen; */
}

.subtitle h2{
    font-weight: 500;
    font-family: "robot-bold";
    font-size: 57px;
    color: var(--color-2);
}

.subtitle p{
    position: relative;
    bottom: 30px;
    font-weight: 400;
    font-family: "robot-bold";
    font-size: 26px;
    color: var(--color-2);
}

.play{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 630px;
    left: 300px;
    align-items: center;
    justify-content: center;
    /* background-color:steelblue; */
    width: 55%;
}
.play h2{
    color: var(--color-2);
    text-align: center;
    font-family: "robot-bold";
    font-size: 58px;
}
.play p{
    position: relative;
    bottom: 40px;
    color: var(--color-2);
    text-align: center;
    font-family: "robot-bold";
    font-size: 36px;
    font-weight: 400;
}



