:root{
    --color-1: black;
    --color-2: #FFFFFF;
}

@font-face{
    font-family: "robot-regular";
    src: url(../storage/fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}

@font-face{
    font-family: "robot-bold";
    src: url(../storage/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

